<% if(albumsSearched!==undefined){%>
  <div class="container">
    <div class="row text-center">
      <h2 class="text-center"><%= albumsSearched[0].name%></h2>
        <ul class="item-list">
        <% albumsSearched.forEach((album)=>{ %>
          <li class="single-item col-sm-4">
          <% if(album.images.length!==0){ %>
            <img src=<%= album.images[0].url%>></img>
          <%}else{%>
            <img src="/images/blank.png"></img>
          <%}%>
            <div class="item-footer">
              <h4><%= album.name%></h4>
              <a class="view-more btn" href=<%='/tracks/'+ album.id%>>View tracks</a>
            </div>
          </li>
        <%})%>
      </ul>
    </div>
  </div>
<%}%>
