
    <% if(artistsSearched!==undefined){%>
      <div class="container">
        <div class="row text-center">
          <h2 class="text-center"><%= artistsSearched[0].name%></h2>
            <ul class="item-list">
            <% artistsSearched.forEach((artist)=>{ %>
              <li class="single-item col-sm-4">
              <% if(artist.images.length!==0){ %>
                <img src=<%= artist.images[0].url%>></img>
              <%}else{%>
                <img src="/images/blank.png"></img>
              <%}%>
                <div class="item-footer">
                  <h4><%= artist.name%></h4>
                  <a class="view-more btn" href=<%='/albums/'+ artist.id%>>View Albums</a>
                </div>
              </li>
            <%})%>
          </ul>
        </div>
      </div>
  <%}%>
</body>
